tutochka.by, www.tutochka.by {
    handle /telegram/* {
        reverse_proxy bot:{$BOT_PORT:8081}
    }

    handle /api/* {
        reverse_proxy backend:{$BACKEND_PORT:8080}
    }

    handle {
        reverse_proxy backend:{$BACKEND_PORT:8080}
    }
}

tutochka.xyz, www.tutochka.xyz, tutochka.site, www.tutochka.site {
    redir https://tutochka.by{uri}
}
